<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../cm-player/cm-player.html">
<link rel="import" href="../cm-player-controls/cm-player-controls.html">
<link rel="import" href="../cm-gradient-background/cm-gradient-background.html">
<script src="../../../../bower_components/color-thief/src/color-thief.js"></script>

<dom-module id="cm-photo">

	<template>

		<style>

            :host {

                --color-size: 0px;
                --photo-size: 40vh;
                --player-size: 0px;

                --gradient-angle: 135deg;
                --gradient-opacity: 1;
                --color-1: rgba(93, 159, 194);
                --color-2: rgba(93, 159, 194);
                --color-3: rgba(93, 159, 194);
                --color-4: rgba(93, 159, 194);

                position: relative;
                overflow: hidden;
            }

            /* Background */

            .background {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                --gradient-opacity: var(--gradient-opacity);
                --gradient-angle: var(--gradient-angle);
                --gradient-from: var(--color-1);
                --gradient-to: var(--color-2);
            }

            /* Photo */

            .photo {
                position: absolute;
                top: 50%;
                width: var(--photo-size);
                height: var(--photo-size);
                left: 50%;
                margin: calc(var(--photo-size) * -.5) 0px 0px calc(var(--photo-size) * -.5);
                box-shadow: 0px 0px 25vh 5vh rgba(0, 0, 0, 0.5);
                background-size: cover;
                background-position: center center;
            }

            /* Colors */

            .colors {
                @apply --layout-horizontal;
                position: absolute;
                top: 0;
                right: 0;
                height: var(--color-size);
                left: 0;
            }

            .color {
                width: 25%;
                height: 100%;
            }

            .color.c1 { background: var(--color-1); }
            .color.c2 { background: var(--color-2); }
            .color.c3 { background: var(--color-3); }
            .color.c4 { background: var(--color-4); }

            /* Controls */

            .controlls {
                position: absolute;
                overflow: hidden;
                --color: #fff;
                --color-hover: #fff;
                --background: var(--color-1);
                --background-hover: var(--color-2);
            }

            @media screen and (orientation: landscape) {

                .controlls {
                    top: 50%;
                    right: 50%;
                    height: var(--photo-size);
                    width: 0;
                    margin: calc(var(--photo-size) * -.5) calc(var(--photo-size) * .5) 0 0;
                    transition: width 0.2s;
                }

                :host([_player-ready]) .controlls {
                    width: calc(var(--photo-size) * .5);
                    transition: width 0.2s;
                }

            }

            @media screen and (orientation: portrait) {

                .controlls {
                    top: 50%;
                    width: var(--photo-size);
                    height: 0;
                    left: 50%;
                    margin: calc(var(--photo-size) * .5) 0 0 calc(var(--photo-size) * -.5);
                    transition: height 0.2s;
                }

                :host([_player-ready]) .controlls {
                    height: calc(var(--photo-size) * .25);
                    transition: height 0.2s;
                }

            }

            /* Player */

            .player {
                position: absolute;
                top: var(--color-size);
                right: 0;
                left: 0;
                --size: var(--player-size);
                --color: #fff;
            }

        </style>
        
        <template is="dom-if" if="[[photo.id]]">

            <cm-gradient-background class="background" url="[[photo.images.standard_resolution.url]]"></cm-gradient-background>

            <div class="photo" style="background-image: url([[photo.images.standard_resolution.url]]);"></div>

            <div class="colors">
                <div class="color c1"></div>
                <div class="color c2"></div>
                <div class="color c3"></div>
                <div class="color c4"></div>
            </div>

            <template is="dom-if" if="[[_withPlayer]]">

                <cm-player-controls
                    class="controlls"
                    state="[[_state]]"
                    on-play="_onPlay"
                    on-pause="_onPause"
                ></cm-player-controls>

                <cm-player
                    id="player"
                    class="player"
                    youtube-id="[[_youtubeId]]"
                    state="{{_state}}"
                    on-player-ready="_onPlayerReady"
                ></cm-player>

            </template>

        </template>

	</template>

	<script>

		class CmPhoto extends Polymer.Element {

			static get is() { return 'cm-photo'; }

			static get properties () {

				return {

                    photo: {
                        type: Object,
                        value: function () { return {}; },
                        observer: '_onPhoto'
                    },

                    _youtubeId: {
                        type: String
                    },

                    _state: {
                        type: Number
                    },

                    _withPlayer: {
                        type: Boolean,
                        computed: '_computeWithPlayer(_youtubeId)',
                        reflectToAttribute: true
                    },

                    _playerReady: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }

				};

            }

            // PUBLIC

            play () {
                if (this._withPlayer) {
                    this.shadowRoot.querySelector('#player').play();
                }
            }

            pause () {
                if (this._withPlayer) {
                    this.shadowRoot.querySelector('#player').pause();
                }
            }

            // PRIVATE
            
            _onPhoto (photo) {

                var img = document.createElement('img');
                img.crossOrigin = 'Anonymous';
                img.onload = this._setColors.bind(this);
                img.src = photo.images.standard_resolution.url;

                var hashtags = photo.caption.text.match(/\B\#\w\w+\b/g);
                hashtags.forEach(hashtag => {
                    if (hashtag.startsWith('#soundtrack')) {
                        this._youtubeId = hashtag.replace('#soundtrack', '');
                    }
                });

            }

            _setColors (e) {

                var colorThief = new ColorThief();
                var p = colorThief.getPalette(e.target, 4);

                if (p && p.length > 3) {
                    this.updateStyles({
                        '--gradient-angle': Math.floor(Math.random() * 360) + 'deg',
                        '--color-1': 'rgb(' + p[0][0] + ', ' + p[0][1] + ', ' + p[0][2] + ')',
                        '--color-2': 'rgb(' + p[1][0] + ', ' + p[1][1] + ', ' + p[1][2] + ')',
                        '--color-3': 'rgb(' + p[2][0] + ', ' + p[2][1] + ', ' + p[2][2] + ')',
                        '--color-4': 'rgb(' + p[3][0] + ', ' + p[3][1] + ', ' + p[3][2] + ')'
                    });
                }

            }

            _computeWithPlayer (_youtubeId) {
                return !!(_youtubeId && _youtubeId.length);
            }

            _onPlay () {
                this.dispatchEvent(new CustomEvent('pause-all'));
                this.play();
            }

            _onPause () {
                this.pause();
            }

            _onPlayerReady () {
                setTimeout(() => {
                    this._playerReady = true;
                }, 1000);
            }

		}
		
		customElements.define(CmPhoto.is, CmPhoto);

	</script>

</dom-module>