<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icons/av-icons.html">

<dom-module id="cm-player-controls">

	<template>

		<style>

            :host {

                @apply --layout;
                @apply --layout-center-center;

                --color: #fff;
                --background: transparent;
                --color-hover: #000;
                --background-hover: transparent;

                color: var(--color);
                background: var(--background);
                cursor: pointer;
                transition: color 0.2s, background 0.2s;

            }

            :host(:hover) {
                color: var(--color-hover);
                background: var(--background-hover);
                transition: color 0.2s, background 0.2s;
            }

            :host .icon {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }

        </style>

        <template is="dom-if" if="[[playing]]">
            <div class="pause" on-click="_pause">
                <iron-icon class="icon" icon="av:pause"></iron-icon>
            </div>
        </template>

        <template is="dom-if" if="[[!playing]]">
            <div class="play" on-click="_play">
                <iron-icon class="icon" icon="av:play-arrow"></iron-icon>
            </div>
        </template>

	</template>

	<script>

		class CmPlayerControls extends Polymer.Element {

			static get is() { return 'cm-player-controls'; }

			static get properties () {

				return {

                    playing: {
                        type: Boolean
                    }

				};

            }

            _play () {
                this.dispatchEvent(new CustomEvent('play'));
            }

            _pause () {
                this.dispatchEvent(new CustomEvent('pause'));
            }

		}
		
		customElements.define(CmPlayerControls.is, CmPlayerControls);

	</script>

</dom-module>