<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/google-youtube/google-youtube.html">

<dom-module id="cm-player">

	<template>

		<style>

            :host {

                --color: #ffffff;
                --width: 0%;
                --size: 3px;

                position: relative;
                width: 100%;
                height: var(--size);

            }

            :host .playback {
                position: absolute;
                top: 0;
                width: var(--width);
                height: 0%;
                left: 0;
                background: var(--color);
                transition: width 1s linear, height 0.2s ease-in;
            }

            :host([state="1"]) .playback {
                height: 100%;
                transition: width 1s linear, height 0.2s ease-out 1.2s;
            }

            [hidden] {
                display: none !important;
            }

        </style>

        <template is="dom-if" if="[[_showPlayer]]">
            <google-youtube
                chromeless
                id="player"
                video-id="[[youtubeId]]"
                height="0"
                width="0"
                start="0"
                state="{{state}}"
                duration="{{_duration}}"
                currenttime="{{_currenttime}}"
                on-playsupported-changed="_onPlaysupportedChanged"
            ></google-youtube>
        </template>

        <div class="playback"></div>

	</template>

	<script>

		class CmPlayer extends Polymer.Element {

			static get is() { return 'cm-player'; }

			static get properties () {

				return {

                    // PUBLIC

                    youtubeId: {
                        type: String
                    },

                    state: {
                        type: Number,
                        notify: true,
                        reflectToAttribute: true
                    },

                    // PRIVATE

                    _playsupported: {
                        type: Boolean,
                        value: true
                    },

                    _duration: {
                        type: Number
                    },

                    _currenttime: {
                        type: Number
                    },

                    _percentage: {
                        type: Number,
                        computed: '_computePercentage(_currenttime, _duration)',
                        observer: '_onPercentageChanged'
                    },

                    _showPlayer: {
                        type: Boolean,
                        computed: '_computeShowPlayer(youtubeId)'
                    }

				};

            }

            // PUBLIC

            play () {
                this._getPlayer().play();
            }

            pause () {
                this._getPlayer().pause();
            }

            // PRIVATE

            _getPlayer () {
                return this.shadowRoot.querySelector('#player');
            }

            _playerReady () {
                this.dispatchEvent(new CustomEvent('player-ready'));
            }

            _computePercentage (_currenttime, _duration) {
                return _currenttime / _duration * 100;
            }

            _computeShowPlayer (youtubeId) {
                return !!(youtubeId && youtubeId.length);
            }

            _onPercentageChanged (_percentage) {
                this.updateStyles({
                    '--width': _percentage + '%'
                });
            }

            _onPlaysupportedChanged (e, data) {

                if (data.value === true && this._playsupported) {
                    this._playerReady();
                }

                if (data.value === false) {

                    this._playsupported = false;

                    var player = this._getPlayer();

                    player.playsupported = true;

                    setTimeout(() => {
                        player.play();
                    }, 1500);

                    setTimeout(() => {
                        player.pause();
                        this._playerReady();
                    }, 3000);

                }

            }

		}
		
		customElements.define(CmPlayer.is, CmPlayer);

	</script>

</dom-module>